{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
<h2>{{ exchange }} - {{ par }}</h2>
<div class="row">

<div class="col">
    <h3>Compra</h3>
    <table class="table">
    <tr>
        <th>Cantidad</th>
        <th class="text-center">Total</th>
        <th class="text-right">Precio</th>
    </tr>
    {% for orden in libro.ordenesCompra|slice(0, 8) %}
    <tr>
        <td>{{ orden.cantidad|number_format(6) }}</td>
        <td class="text-center">{{ (orden.cantidad * orden.precio)|number_format(2) }}</td>
        <td class="text-right text-success">{{ orden.precio|number_format(2) }}</td>
    </tr>
    {% endfor %}
</table></div>

<div class="col">
    <h3>Venta</h3>
    <table class="table">
    <tr>
        <th>Cantidad</th>
        <th class="text-center">Total</th>
        <th class="text-right">Precio</th>
    </tr>
    {% for orden in libro.ordenesVenta|slice(0, 8) %}
    <tr>
        <td>{{ orden.cantidad|number_format(6) }}</td>
        <td class="text-center">{{ (orden.cantidad * orden.precio)|number_format(2) }}</td>
        <td class="text-right text-danger">{{ orden.precio|number_format(2) }}</td>
    </tr>
    {% endfor %}
</table></div>

</div></div>
{% endblock body %}

{% block javascripts %}
<script>
    function libroRecargar() {
        url = '{{ path('dash_libro', { 'exchange': exchange.id, 'par': app.request.get('par') })|raw }}';
        destino = '#page-wrapper';
        $.get(url, function (data, status, xhr) {
            try {
                $(destino).html(data);
            } catch (err) {
                $(destinoFinal).append('<div class="alert alert-dismissable alert-danger" role="alert"><button type="button" class="close" data-dismiss="alert">×</button>Error al cargar fragmento AJAX: ' + err + '</div>');
            }
        }).fail(function (jqXHR) {
            // Muestro un error
            $(destino).html(jqXHR.responseText);
        });
        setTimeout(libroRecargar, 10000);
    }

    setTimeout(libroRecargar, 10000);
</script>
{% endblock javascripts %}