{% extends 'base.html.twig' %}

{% block body %}
{% set pctSupOjo = 0.11 %}
{% set pctSupFuego = 0.14 %}
{% set pctInfOjo = 0.05 %}
{% set pctInfFuego = 0.03 %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3>Ripio exchange</h3>
            <table class="table table-striped table-sm thead-dark">
            <thead>
                <tr>
                <th scope="col">Asset</th>
                <th scope="col" class="text-right">USD</th>
                <th scope="col" class="text-right">ARS</th>
                <th scope="col" class="text-right">Spread</th>
                <th scope="col" class="text-right">Dólar<br />implícito</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Venta BTC</td>
                    <td class="text-right">{{ (analizador.RipioSellBtc / analizador.Dolar)|number_format }}</td>
                    <td class="text-right">{{ analizador.RipioSellBtc|number_format }}</td>
                    <td class="text-right">{{ (analizador.RipioSellGapBtc * 100)|number_format(1) }}%
                        {% if analizador.RipioSellGapBtc > pctSupOjo %}<i class="fa fa-money-bill-wave text-success" title="Deberías tener esta punta"></i>
                        {% elseif analizador.RipioSellGapBtc < pctInfFuego %}<i class="fa fa-fire text-danger" title="¡Muy barato!"></i>
                        {% elseif analizador.RipioSellGapBtc < pctInfOjo %}<i class="fa fa-eye text-warning" title="Buen precio para comprar"></i>
                        {% endif %}
                        </td>
                    <td class="text-right text-muted">{{ (analizador.RipioSellBtc / analizador.ReferenceBtcUsd.PrecioVenta)|number_format(2) }}</td>
                </tr>
                <tr>
                    <td>Compra BTC</td>
                    <td class="text-right">{{ (analizador.RipioBuyBtc / analizador.Dolar)|number_format }}</td>
                    <td class="text-right">{{ analizador.RipioBuyBtc|number_format }}</td>
                    <td class="text-right">{{ (analizador.RipioBuyGapBtc * 100)|number_format(1) }}%
                        {% if analizador.RipioBuyGapBtc < pctInfFuego %}<i class="fa fa-money-bill-wave text-success" title="Deberías tener esta punta"></i>
                        {% elseif analizador.RipioBuyGapBtc > pctSupFuego %}<i class="fa fa-fire text-danger" title="¡Vendé!"></i>
                        {% elseif analizador.RipioBuyGapBtc > pctSupOjo %}<i class="fa fa-eye text-warning" title="Buen precio para vender"></i>
                        {% endif %}
                    </td>
                    <td class="text-right">{{ (analizador.RipioBuyBtc / analizador.ReferenceBtcUsd.PrecioVenta)|number_format(2) }}</td>
                </tr>

                <tr>
                    <td>Venta ETH</td>
                    <td class="text-right">{{ (analizador.RipioSellEth / analizador.Dolar)|number_format }}</td>
                    <td class="text-right">{{ analizador.RipioSellEth|number_format }}</td>
                    <td class="text-right">{{ (analizador.RipioSellGapEth * 100)|number_format(1) }}%
                        {% if analizador.RipioSellGapEth > pctSupOjo %}<i class="fa fa-money-bill-wave text-success" title="Deberías tener esta punta"></i>
                        {% elseif analizador.RipioSellGapEth < pctInfFuego %}<i class="fa fa-fire text-danger" title="¡Muy barato!"></i>
                        {% elseif analizador.RipioSellGapEth < pctInfOjo %}<i class="fa fa-eye text-warning" title="Buen precio para comprar"></i>
                        {% endif %}
                    </td>
                    <td class="text-right text-muted">{{ (analizador.RipioSellEth / analizador.ReferenceEthUsd.PrecioVenta)|number_format(2) }}</td>
                </tr>
                <tr>
                    <td>Compra ETH</td>
                    <td class="text-right">{{ (analizador.RipioBuyEth / analizador.Dolar)|number_format }}</td>
                    <td class="text-right">{{ analizador.RipioBuyEth|number_format }}</td>
                    <td class="text-right">{{ (analizador.RipioBuyGapEth * 100)|number_format(1) }}%
                        {% if analizador.RipioBuyGapEth < pctInfFuego %}<i class="fa fa-money-bill-wave text-success" title="Deberías tener esta punta"></i>
                        {% elseif analizador.RipioBuyGapEth > pctSupFuego %}<i class="fa fa-fire text-danger" title="¡Vendé!"></i>
                        {% elseif analizador.RipioBuyGapEth > pctSupOjo %}<i class="fa fa-eye text-warning" title="Buen precio para vender"></i>
                        {% endif %}
                    </td>
                    <td class="text-right">{{ (analizador.RipioBuyEth / analizador.ReferenceEthUsd.PrecioVenta)|number_format(2) }}</td>
                </tr>
            </tbody>
            </table>
            <p class="small">
            Brecha entre puntas: BTC {{ (analizador.GapBtc * 100)|number_format(1) }}%, ETH {{ (analizador.GapEth * 100)|number_format(1) }}%.
            Venta al {{ pctSupFuego * 100 }}%: BTC {{ (analizador.ReferenceBtcUsd.PrecioVenta * analizador.Dolar * (1 + pctSupFuego))|number_format }}, 
                ETH {{ (analizador.ReferenceEthUsd.PrecioVenta * analizador.Dolar * (1 + pctSupFuego))|number_format }}.
            </p>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3>Reference</h3>
            <table class="table table-striped table-sm thead-dark">
            <thead>
                <tr>
                <th scope="col">Asset</th>
                <th scope="col" class="text-right">USD</th>
                <th scope="col" class="text-right">ARS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>BTC <i class="fab fa-bitcoin text-muted"></i></td>
                <td class="text-right">{{ analizador.ReferenceBtcUsd.PrecioVenta|number_format }}</td>
                <td class="text-right">{{ (analizador.ReferenceBtcUsd.PrecioVenta * analizador.Dolar)|number_format }}</td>
                </tr>
                <tr>
                <td>ETH <i class="fab fa-ethereum text-muted"></i></td>
                <td class="text-right">{{ analizador.ReferenceEthUsd.PrecioVenta|number_format(1) }}</td>
                <td class="text-right">{{ (analizador.ReferenceEthUsd.PrecioVenta * analizador.Dolar)|number_format }}</td>
                </tr>
                <tr>
                <td>USD <i class="fa fa-money-bill text-muted"></i></td>
                <td class="text-right">1</td>
                <td class="text-right">{{ analizador.Dolar|number_format(2) }}</td>
                </tr>
            </tbody>
            </table>
            ETH/BTC: ref {{ analizador.ReferenceEthBtc.PrecioVenta|number_format(6) }},
            {% if (analizador.RipioBuyEth / analizador.RipioSellBtc) > analizador.ReferenceEthBtc.PrecioVenta %}
                <span class="text-success">
            {% else %}
                <span class="text-muted">
            {% endif %}
                Ripio {{ (analizador.RipioBuyEth / analizador.RipioSellBtc)|number_format(6) }}</span>
        </div>
    </div>


    <h3>Arbitraje ETH/BTC</h3>
    <table class="table table-striped table-sm thead-dark">
    <thead>
        <tr>
        <th scope="col">Tipo</th>
        <th scope="col">Dirección</th>
        <th scope="col" class="text-right">Relación</th>
        <th scope="col" class="text-right">Brecha<br />con ref.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Inmediato (tomador-tomador)</td>
            <td>Vender ETH, comprar BTC</td>
            <td class="text-right">{{ (analizador.RipioBuyEth / analizador.RipioSellBtc)|number_format(6) }} a 1</td>
            <td class="text-right">{{ (((analizador.RipioBuyEth / analizador.RipioSellBtc)/analizador.ReferenceEthBtc.PrecioVenta - 1) * 100)|number_format(1) }}%</td>
        </tr>
        <tr>
            <td>Inmediato (tomador-tomador)</td>
            <td>Vender BTC, comprar ETH</td>
            <td class="text-right">{{ (analizador.RipioSellEth / analizador.RipioBuyBtc)|number_format(6) }} a 1</td>
            <td class="text-right">{{ (((analizador.RipioSellEth / analizador.RipioBuyBtc) / analizador.ReferenceEthBtc.PrecioVenta - 1) * -100)|number_format(1) }}%</td>
        </tr>

        <tr>
            <td>Semi pasivo (tomador-colocador)</td>
            <td>Vender ETH, comprar BTC</td>
            <td class="text-right">{{ (analizador.RipioBuyEth / analizador.RipioBuyBtc)|number_format(6) }} a 1</td>
            <td class="text-right">{{ (((analizador.RipioBuyEth / analizador.RipioBuyBtc)/analizador.ReferenceEthBtc.PrecioVenta - 1) * 100)|number_format(1) }}%</td>
        </tr>
        <tr>
            <td>Semi pasivo (tomador-colocador)</td>
            <td>Vender BTC, comprar ETH</td>
            <td class="text-right">{{ (analizador.RipioBuyEth / analizador.RipioBuyBtc)|number_format(6) }} a 1</td>
            <td class="text-right">{{ (((analizador.RipioBuyEth / analizador.RipioBuyBtc)/analizador.ReferenceEthBtc.PrecioVenta - 1) * -100)|number_format(1) }}%</td>
        </tr>

        <tr>
            <td>Semi pasivo (colocador-tomador)</td>
            <td>Vender ETH, comprar BTC</td>
            <td class="text-right">{{ (analizador.RipioSellEth / analizador.RipioSellBtc)|number_format(6) }} a 1</td>
            <td class="text-right">{{ (((analizador.RipioSellEth / analizador.RipioSellBtc)/analizador.ReferenceEthBtc.PrecioVenta - 1) * 100)|number_format(1) }}%</td>
        </tr>
        <tr>
            <td>Semi pasivo (colocador-tomador)</td>
            <td>Vender BTC, comprar ETH</td>
            <td class="text-right">{{ (analizador.RipioSellEth / analizador.RipioSellBtc)|number_format(6) }} a 1</td>
            <td class="text-right">{{ (((analizador.RipioSellEth / analizador.RipioSellBtc)/analizador.ReferenceEthBtc.PrecioVenta - 1) * -100)|number_format(1) }}%</td>
        </tr>

        <tr>
            <td>Pasivo (tomador-tomador)</td>
            <td>Vender ETH, comprar BTC</td>
            <td class="text-right">{{ (analizador.RipioSellEth / analizador.RipioBuyBtc)|number_format(6) }} a 1</td>
            <td class="text-right">{{ (((analizador.RipioSellEth / analizador.RipioBuyBtc)/analizador.ReferenceEthBtc.PrecioVenta - 1) * 100)|number_format(1) }}%</td>
        </tr>
        <tr>
            <td>Pasivo (tomador-tomador)</td>
            <td>Vender BTC, comprar ETH</td>
            <td class="text-right">{{ (analizador.RipioBuyEth / analizador.RipioSellBtc)|number_format(6) }} a 1</td>
            <td class="text-right">{{ (((analizador.RipioBuyEth / analizador.RipioSellBtc)/analizador.ReferenceEthBtc.PrecioVenta - 1) * -100)|number_format(1) }}%</td>
        </tr>
    </tbody>
    </table>

    <hr />

    <h2>Arbitrajes</h2>

    <p>BTC <i class="fa fa-arrow-right text-muted"></i> ARS <i class="fa fa-arrow-right text-muted"></i> ETH <i class="fa fa-arrow-right text-muted"></i> BTC: 
        <span class="{% if analizador.calcularGapArbitrageBtcEth > 0.015 %}text-danger
        {% elseif analizador.calcularGapArbitrageBtcEth > 0.01 %}text-warning
        {% endif %}">{{ (analizador.calcularGapArbitrageBtcEth * 100)|number_format(2) }}%</span>.

        {% if analizador.calcularGapArbitrageBtcEth < 0.015 %}
            Punto mínimo de arbitraje (1.5%):
            Venta BTC a {{ (analizador.RipioBuyBtc * (1.015 - analizador.calcularGapArbitrageBtcEth))|number_format }}
            o compra ETH a {{ (analizador.RipioSellEth * (0.985 + analizador.calcularGapArbitrageBtcEth))|number_format }}.
        {% endif %}
    </p>

    <p>ETH <i class="fa fa-arrow-right text-muted"></i> ARS <i class="fa fa-arrow-right text-muted"></i> BTC <i class="fa fa-arrow-right text-muted"></i> ETH:
        <span class="{% if analizador.calcularGapArbitrageEthBtc > 0.015 %}text-danger
        {% elseif analizador.calcularGapArbitrageEthBtc > 0.01 %}text-warning
        {% endif %}">{{ (analizador.calcularGapArbitrageEthBtc * 100)|number_format(2) }}%</span>.

        {% if analizador.calcularGapArbitrageEthBtc < 0.015 %}
            Punto mínimo de arbitraje (1.5%):
            Venta ETH a {{ (analizador.RipioBuyEth * (1.015 - analizador.calcularGapArbitrageEthBtc))|number_format }}
            o compra BTC a {{ (analizador.RipioSellBtc * (0.985 + analizador.calcularGapArbitrageEthBtc))|number_format }}.
        {% endif %}
    </p>

    <h3>Billetera Ripio</h3>
    <table class="table table-striped table-sm thead-dark">
    <thead>
        <tr>
        <th scope="col">Asset</th>
        <th scope="col" class="text-right">USD</th>
        <th scope="col" class="text-right">ARS</th>
        <th scope="col" class="text-right">Spread</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Compra BTC</td>
            <td class="text-right">{{ (analizador.exchangeRipio.CotizacionForPar('BTC/ARS').PrecioVenta / analizador.Dolar * 0.99)|number_format }}</td>
            <td class="text-right">{{ (analizador.exchangeRipio.CotizacionForPar('BTC/ARS').PrecioVenta * 0.99)|number_format }}</td>
            {% set gap = analizador.exchangeRipio.CotizacionForPar('BTC/ARS').PrecioVenta / (analizador.ReferenceBtcUsd.PrecioVenta * analizador.Dolar)  - 1.01 %}
            <td class="text-right">{{ (gap * 100)|number_format(1) }}%
                {% if gap < pctInfFuego %}<i class="fa fa-money-bill-wave text-success" title="Deberías tener esta punta"></i>
                {% elseif gap > pctSupFuego %}<i class="fa fa-fire text-danger" title="¡Vendé!"></i>
                {% elseif gap > pctSupOjo %}<i class="fa fa-eye text-warning" title="Buen precio para vender"></i>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>Compra ETH</td>
            <td class="text-right">{{ (analizador.exchangeRipio.CotizacionForPar('ETH/ARS').PrecioVenta / analizador.Dolar * 0.99)|number_format }}</td>
            <td class="text-right">{{ (analizador.exchangeRipio.CotizacionForPar('ETH/ARS').PrecioVenta * 0.99)|number_format }}</td>
            {% set gap = analizador.exchangeRipio.CotizacionForPar('ETH/ARS').PrecioVenta / (analizador.ReferenceEthUsd.PrecioVenta * analizador.Dolar)  - 1.01 %}
            <td class="text-right">{{ (gap * 100)|number_format(1) }}%
                {% if gap < pctInfFuego %}<i class="fa fa-money-bill-wave text-success" title="Deberías tener esta punta"></i>
                {% elseif gap > pctSupFuego %}<i class="fa fa-fire text-danger" title="¡Vendé!"></i>
                {% elseif gap > pctSupOjo %}<i class="fa fa-eye text-warning" title="Buen precio para vender"></i>
                {% endif %}
            </td>
        </tr>
    </tbody>
    </table>
    
</div>
{% endblock body %}

{% block javascripts %}
<script>
    function ripioRecargar() {
        url = '{{ path('dash_ripio') }}';
        destino = '#page-wrapper';
        $.get(url, function (data, status, xhr) {
            try {
                $(destino).html(data);
            } catch (err) {
                $(destinoFinal).append('<div class="alert alert-dismissable alert-danger" role="alert"><button type="button" class="close" data-dismiss="alert">×</button>Error al cargar fragmento AJAX: ' + err + '</div>');
            }
        }).fail(function (jqXHR) {
            // Muestro un error
            $(destino).html(jqXHR.responseText);
        });
        setTimeout(ripioRecargar, 10000);
    }

    setTimeout(ripioRecargar, 10000);
</script>
{% endblock javascripts %}