<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}CryptoDash{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <link rel="stylesheet" href="/css/cryptodash.css">
        <link rel="stylesheet" href="/css/dark-mode.css">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">CryptoDash</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('usuario_exchange_index') }}">Exchanges</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('usuario_par_index') }}">Pares</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('dash_coti') }}">Cotizaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('arbi_inicio') }}">Arbitraje</a>
                    </li>
                    
                </ul>

                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="darkSwitch">
                    <label class="custom-control-label bg-dark" for="darkSwitch">Modo oscuro</label>
                </div>
                
                <!-- You must load 'dark-mode-switch.js' after the dark-mode switch -->
                <script src="/js/dark-mode-switch.min.js"></script>
            </div>
        </nav>

        <div id="page-wrapper">
        {% block body %}{% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
